
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.nav .c-list__item {
    padding: 0.2em 0;
}

.nav-menu>li.c-list__item {
  border-left: 2px solid white;
  padding-left: 8px;
}

.nav-menu>li.c-list__item.active {
  border-left-color: #1690f3;
}

.c-nav--inline .c-nav__content {
  display: inline-block;
}

.playground {
  position: relative;
  margin-bottom: 32px;
}

.playgroundPreview {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0;
    border: 1px solid #ddd;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.playgroundPreview:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Preview";
}

.playgroundCode {
    border: 1px solid #ddd;
    border-top: none;
    background-color: #f8f5ec;
    position: relative;
    padding-top: 30px;
}

.playgroundStage:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Live Code";
}

.playgroundCodeToggle {
    position: absolute;
    right: 0;
    border: 1px solid #ddd;
    border-top-color: white;
    background-color: white;
    margin-top: -1px;
    padding: 8px;
}

.playgroundCodeToggle.open {
  background-color: #f8f5ec;
  border-top-color: #f8f5ec;
}

.playground.playground--side-code .playgroundCodeToggle {
  display: none;
}

@media (min-width: 64em) { 
  .fixed\@large {
    position: fixed;
  }

  .playground.playground--side-code {
    display: table;
    width: 100%;
    margin-bottom: 0;
  }

  .playground.playground--side-code .playgroundPreview {
    display: table-cell;
    width: 45%;
  }

  .playground.playground--side-code .playgroundCode {
    display: table-cell;
    width: 55%;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
}

